/* z-index속성은 층 수를 정하는 속성이다. */
body { margin: 0; padding: 0; background: black; } 

h2 { margin: 0; } 
span { color: white; } 

div.static { position: static; background: #73ad21; margin: 0; padding: 0; } 
div.relative { position: relative; left: 30px; top: 20px; background: lightpink; } 
/* div.relative { position: relative; left: 30px; top: 20px; background: lightpink; z-index: 999; } */
div.fixed { position: fixed; bottom: 0; right: 0; width: 300px; background: skyblue; } 
div.absolute1 { position: absolute; top: 5px; right: 0; width: 300px; background: red; } 
div.relative2 { position: relative; width: 500px; height: 500px; background: greenyellow; } 
div.absolute2 { position: absolute; top: 80px; right: 0; width: 200px; background: white; } 
div.sticky { position: sticky; top: 0; padding: 5px; background: #cae8ca; border: 1px solid #000; } 
div.sticky { position: sticky; bottom: 0; padding: 5px; background: #cae8ca; border: 1px solid #000; z-index: 999; } 