* { box-sizing: border-box; } 

/* form 요소들의 스타일 설정 */
.vertical_form { padding: 10px; border: 1px solid #000; background: aquamarine; margin-bottom: 50px; } 

.vertical_input { vertical-align: bottom; } 
textarea.vertical_input { width: 300px; height: 300px; } 
form.vertical_form > :not(textarea.vertical_input) { box-sizing: border-box; height: 30px; margin: 0; } 

.vertical_table { width: 80%; border-collapse: collapse; margin: 50px auto;} 
.vertical_table caption { margin-bottom: 20px; font-weight: bolder; font-size: 18px; } 
.vertical_table th, .vertical_table td { border: 1px solid #c5c5c5; width: 25%; padding: 20px; } 
.vertical_table th { background: #555; color: #fff; } 
.vertical_table td { height: 100px; } 

.vertical_table td:first-of-type { vertical-align: top; } 
.vertical_table td:nth-of-type(2) { vertical-align: middle; text-align: center; } 
.vertical_table td:nth-last-of-type(2) { vertical-align: bottom; text-align: right;;} 
.vertical_table td:nth-last-of-type(1) { vertical-align: 60%; text-align: end; } 
/* text-align: end : 숫자값이 없고 예약값(고정값)만 있음. */

/* 아이디가 vertical_div인 div안의 엘리먼트 요소의 스타일 설정 */
#vertical_div { width: 90%; margin: 50px auto; border: 1px solid #000; padding-left: 20px; } 

#vertical_div span { font-size: 40px; } 
#vertical_div img.base { vertical-align: baseline; } 
#vertical_div img.top { vertical-align: top; } 
#vertical_div img.middle { vertical-align: middle; } 
#vertical_div img.bottom { vertical-align: bottom; } 