* {
	box-sizing: border-box;
}

.container {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}


.student_search_form {
    width: 250px;
    float: right;
    margin-bottom: 10px;
}

.student_search_form input[type=text] {
	padding: 5px;
}

table {
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;  /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;  /* 넘치는 텍스트를 ...으로 표시 */
}

table tr:nth-child(1) {
	border-bottom: 1px solid #0b4da2;
	border-top: 1px solid #0b4da2;
	background-color: aliceblue;
}

table tr {
	border-bottom: 1px solid #ccc;
}

button {
	color: white;
	background-color: #0b4da2;
	border-radius: 5px;
	border: none;
	width: 50px;
	padding: 4px;
}

tr td {
	padding: 10px 0 10px 0;
}

@media screen and (max-width: 1000px) {
	/* 테이블의 특정 열 숨기기 */
	.student_list table th:nth-child(2), /* 전공 열 숨기기 */
	.student_list table th:nth-child(4),
	.student_list table th:nth-child(6), 
	.student_list table th:nth-child(7) /* 이메일 열 숨기기 */ {display: none; }
	
	.student_list table td:nth-child(2),
	.student_list table td:nth-child(4),
	.student_list table td:nth-child(6),
	.student_list table td:nth-child(7){ display: none; }
	
	table{
		font-size:0.9em;
	}
	
	button{
		width:40px;
	}
}