body { margin: 0; padding: 0; } 
ul.a { list-style: inside url(../../240731/img/sqpurple.gif); margin: 0 50px; } 

ul.b { list-style-position: inside; } 
/* ul.b { list-style-type: none; padding: 0; } */

ul.c { list-style-type: none; margin: 0; list-style-position: inside; } 

/* 
list-style-type : 마커 모양(ul, ol) 변경 속성.

list-style-position : 마커 들여쓰기 속성. 기본값(디폴트):outside
** inside속성은 list-style-type:none; 일때는 적용되지 않는다.

list-style-image : 마커 스타일을 이미지로 사용할 수 있는 속성.
list-style : shorthand 표현, 마커모양 들여쓰기속성 이미지사용속성 값 같이 사용 가능
*/