


/* 너비가 1549px일 때까지만 적용 */
@media screen and (max-width: 1549px) { 
 /* === 사이드 메뉴바 햄버거 처리 === */
aside { width: 50px; } 
aside div.ham-btn { display: block; } 
aside> :not(.ham-btn):not(.ham-menu) { display: none; } 
main { width: calc(100% - 50px); } 
 }